apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-b2b0
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/release-e2e-pyxis-tenant/appstudio/dc-metro-map-b2b0@sha256:60c83680a26945eb60f91b97159e3b4becddb2116d006dee8aea7de3ad600438
        name: my-nodejs
        resources: {}
status: {}
